
*~
archive
*.bak
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
build
build/
# Byte-compiled / optimized / DLL files
.cache
celerybeat-schedule
# celery beat schedule file
# C extensions
cover
*,cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist
dist/
# Distribution / packaging
# Django stuff:
doc/_build
docs/_build/
# dotenv
downloads/
.DS_Store
*.egg
*.egg-info
*.egg-info/
.eggs
.eggs/
eggs/
*.enc
.env
env/
ENV/
# Flask stuff:
htmlcov/
.hypothesis/
.installed.cfg
# Installer logs
instance/
*.ipynb
.ipynb_checkpoints
# IPython Notebook
*.json
.keys
lib/
lib64/
local_settings.py
*.log
*.manifest
*.mo
nosetests.xml
*.orig
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
# PyBuilder
*.pyc
__pycache__/
*$py.class
*.py[cod]
# pyenv
# PyInstaller
*.pyo
.pytest_cache
.Python
.python-version
*.rej
.ropeproject
# Rope project settings
.scrapy
# Scrapy stuff:
sdist/
*.so
*.spec
# Sphinx documentation
.spyderproject
# Spyder project settings
.tags
.tags.mk
target/
tmp
.tox/
# Translations
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
ve3k/
venv/
# virtualenv
.webassets-cache
